.tot-value {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number {
    color: #FD377E;

    font-weight: 700;
}
.small-totval{
    font-size: 9px;
    font-weight: 200;

    margin-top: 5px;
}